body {
    font-family:verdana,sans-serif;
    background-image: url("../images/fruits.jpg");
    background-size: cover;
    background-repeat:repeat;
    background-attachment: fixed;
    margin:0px;
}
.conteiner {
    width:100%;
    padding-top: 55px;

}
.page {
    width:60%;
    background-color: gainsboro;
    margin:auto;
    border-radius: 10px;
}
.page-box {
    width:100%;
    height: 100px;
    float:left;
    margin-top: 5px;
}
.page-img {
    width: 20%;
    height: 100px;
    background-color: gainsboro;
    float:left;
}
.page-img img {
    width:100%;
    height:100px;

}
.page-product {
    width: 20%;
    height: 100px;
    background-color: gainsboro;
    float:left;
}
.page-product p {
    font-size: 17px;
    font-family: verdana, sans-serif;
    margin: 35px;
    text-align: center;
}
.page-quantity {
    width: 20%;
    height: 100px;
    background-color: gainsboro;
    float:left;
}
.page-quantity p {
    font-size: 17px;
    font-family: verdana, sans-serif;
    margin: 10px;
    text-align: center;
}
.page-price {
    width: 20%;
    height: 100px;
    background-color: gainsboro;
    float:left;
    text-align: center;
}
.page-price p {
    font-size: 17px;
    font-family: verdana, sans-serif;
    margin: 10px;
    text-align: center;
}
.page-total {
    width: 20%;
    height: 100px;
    background-color:gainsboro;
    float:left;
}
.page-total p {
    font-size: 17px;
    font-family: verdana, sans-serif;
    margin: 10px;
    text-align: center;
}
.forms {
    text-align:center;
    margin-top: 25px;
}
.page-end {
    width: 100%;
    float: left;

}
.page-end-total {
    width: 100%;
    height: 100px;
    float:left;
    background-color: gainsboro;
    margin-top: 5px;
}
.page-end-total p {
    float: right;
    font-size: 25px;
    font-family: verdana, sans-serif;
    margin-right: 20px;
}
.page-button {
    width: 100%;
    float:left;
    background-color: gainsboro;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.uredi {
    float:right;
    margin-right: 20px;
    margin-top: 30px;
}
.id-code {
    display:none;
    margin-top:70px;
    margin-left: 20px;
}
.id-code p{
    font-size: 17px;
    font-family: verdana, sans-serif;
   
    margin: 0px;
}

.block {
    display:block;
}
.visoka-cena {
    font-size: 17px;
    font-family: verdana, sans-serif;
    margin: 10px;
    color:gray;
    text-align: center;
    text-decoration:line-through;
}
.fa-times {
    width:95%;
    text-align:right;
    margin:0px;
    padding: 0px;
}







.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px;
    border-radius: 50%;
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }


  


@media only screen and (max-width: 550px) {
    .page-product p {
        font-size:15px;
    }
    .page-quantity p {
        font-size: 15px;
    }
    .page-price p {
        font-size: 15px;
    }
    .page-total p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1000px) {
    .page {
        width: 100%;
    }
}
