
body {
    font-family:verdana,sans-serif;
    background-image: url("../images/hrana5.jpg");
    background-size: cover;
    background-repeat:repeat;
    background-attachment: fixed;
    font-size:17px;
}

.main {
    width: 62%;
    margin: auto;
    margin-top: 50px;
    background-color:white;
    padding:10px;
}
.btn {
    width:100%;
    font-size:18px;
    background-color:#DCDCDC;
}
.container {
    margin-bottom:20px;
    text-align:center;
    width:100%;
}
 #demo2 {
    border:1px solid #DCDCDC;
    font-size:16px;
    text-align:center;
}
.collapse span {
    color: #5cb85c;
    font-weight:bold;
}
.drboja {
    background-color:green;
    color:white;
}
.green {
    background-color: #5cb85c;
    color:white;
}
.green:hover, .green:active, .green:focus {
    color:white;
}
@media only screen and (max-width: 1000px) {
   
   .main {
       width:95%;
       margin:auto;
       margin-top:20px;
   }
    .btn {
        font-size:15px;
    }
}