.conteiner {
    width:100%;
    margin:auto;
}
.contact-div {
    width:100%;

    margin-top: 75px;
}



body {
  font-family:verdana,sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/slika.jpg");
    background-size:100%;
    background-image: url("../images/slika.jpg");
    background-size: cover;
    background-repeat:repeat;
    background-attachment: fixed;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 65px;
    background-color: gainsboro;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .problem {
    margin:0px;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 650px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
      padding-bottom: 20px;
    }
  }