body {
  font-family:verdana,sans-serif;
}

/* HEADER BELOW */
header {
    width:90%;
    margin:auto;
    margin-top:20px;
    height:120px;
    background-color:#DCDCDC;
    border-radius:30px;
}
.logo-pic {
 width:420px;
}
.header-left {
  text-align:center;
  font-size:15px;
}
.header-left h2 {
  color:#5cb85c;
  margin-top: 10px;
}
.navigacija, .registracija {
    height:100%;
    text-align:center;
    padding-top:45px;
}
.navigacija a, .registracija a {
    text-decoration:none;
    color:#696969;
    font-size:18px;
    margin-right:14px;
    display: inline-block;
}
.navigacija a:hover, .registracija a:hover {
   color:#5cb85c;
   text-transform: uppercase;
}
.navigacija i:hover, .registracija i:hover {
  color:#5cb85c;
  text-transform: uppercase;
}
.dropdown {
  display:none;
}
.registriran-acc-header {
  padding:20px;
}


/* FOOTER BELOW */
footer {
    width:90%;
   float:left;
   margin:auto;
   margin-left:5%;
   background-color:#DCDCDC;
   margin-top:120px;
   border-radius:30px;
}
.social-media {
  padding-top:5%;
  text-align:center;
}
.social-media p {
  font-size:25px;
}

.fa {
    padding: 14px;
    font-size: 25px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      text-decoration:none;
      color:green;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
 
footer .description  {
    text-align:center;
    padding-top: 5%;
}



@media only screen and (max-width: 991px) {
 
  header {
    height:200px;
  }
  .logo-pic {
    margin: 0 auto;
   }
   .header-left h2 {
    margin-top: 10px;
  }
   .navigacija {
     display:none;
   }
   .registracija {
     height:17%;
     padding-top:0px;
     margin-bottom: 30px;
   }
   .dropdown, .dropdown button {
     display:block;
     width:100%;
     background-color:green;
     color:#DCDCDC;
   }
   .dropdown button:hover {
     color:white;
     background-color:green;
   }
   .dropdown button:active {
     background-color:green;
   }
   .dropdown button:focus {
    background-color:green;
  }
   .dropdown-menu {
     width:100%;
     text-align:center;
   }
   .dropdown-menu  li a  {
    text-decoration:none;
    color:#696969;
    font-size:18px;
   }
   .dropdown-menu  li a:hover {
     color:green;
   }
   footer .description{
    padding-top: 0;
   }
   .navigacija a, .registracija a {
    font-size: 17px;
   }
   .dis-in-block{
    display: inline-block;
  }
  .description h2{
    margin-top: 0px;
  }
}

.akaunt-img {
  width: 50px;
  height: 45px;
}

@media only screen and (max-width: 458px){
  header {
    height: 230px;
  }

}
