body {
    background-image: url("../images/all-fruits.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    font-family:verdana,sans-serif;
}
.paragraph p {
    margin: 0px;
    font-size: 25px;
    font-family: sans-serif;
    text-align:center;
    color:darkslategray;
}
.paragraph-border {
    width: 45%;
    height: 1px;
    margin-top: 5px;
    background-color: gainsboro;
    margin: auto;
    margin-bottom: 32px;
}
.second-wrraper {
    width: 100%;
    padding-top: 20px;
    background-color: #f2f2f2;
    text-align:center;
}

.blue span{
    color:limegreen;
}
.color-one {
    background-color: lime;
    color:black;
    border-radius: 10px;
    border:none;
}
.color-one:hover {
    background-color: lime;
}
.color-two {
    background-color: gold;
    color: black;
    border:none;
    border-radius: 10px;
    
}
.color-two:hover {
    background-color: gold;
}
.color-three {
    background-color: orangered;
    color: black;
    border:none;
    border-radius: 10px;
}
.color-three:hover {
    background-color: orangered;
}
.text {
    font-size:large;
}


@media only screen and (max-width: 1400px) and  (min-width: 993px) {
.logo-pic {
 width:320px;
 height:250px;
 margin-top:100px;
}

}
@media only screen and (max-width: 993px) {
.col-sm-12 {
  margin-bottom:30px;
}

}
















