body {
    font-family:verdana,sans-serif;
    background-image: url("../images/hrana5.jpg");
    background-size: cover;
    background-repeat:repeat;
    background-attachment: fixed;
}
.account-main-div {
    width:40%;
    margin:auto;
    margin-top:100px;
    text-align:center;
    background-color:#DCDCDC;
    border-radius:50px; 
}
.account-main-div h2 {
    margin-bottom:50px;
    padding-top:20px;
}
.account {
    text-align:left;
    width:90%;
    margin:auto;
    border-bottom:2px solid #5cb85c;
    border-radius:8px;
    background-color:#DCDCDC;
    margin-bottom:20px;
    padding-left:15px;
}
.account label {
    font-size:18px;
}
.input {
    width:70%;
   margin-bottom:5px;
   background-color:#DCDCDC;
   outline:none;
   border:none;
   font-size:18px;
}
.input::placeholder {
    color:black;
    font-size:17px;
}
.account input {
    font-size:17px;
}
.account-setting-img {
    width:150px;
    height:150px;
}
.image-div {
    margin-bottom:20px;
}
.image-div input {
    margin-left:40%;
}
.izvestuvanja-div {
    padding-bottom:30px;
}
@media only screen and (max-width: 1116px) {
    .account-main-div {
        width:90%;
    }
    .input {
        width:100%;
    }
}