body {
    background-image: url("../images/starwberry.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
margin:0px;
}
.conteiner {
    width:50%;
    height: 975px;

    margin:auto;
}
.partners-box {
    width: 100%;
    margin:auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: gainsboro;
    border-radius: 20px;
    float:left;
    
}
.box-img {
    width:30%;
    float: left;
    height:100%;
}
.box-img img {
    width:100%;
    height:180px;
    margin-top: 20px;
}
.box-text {
    width: 70%;
    float: left;
}
.box-name {
    width: 100%;
    float:left;

}
.box-name p {
    font-size: 50px;
    font-family: Verdana, sans-serif;
    text-align: center;
    color: limegreen;
}
.box-descriptiion {
    width: 100%;
    float: left;

}
.box-description {
    text-align:center;
}
.box-location {
    width: 100%;
    float: left;

}
.dropdown {
    position: relative;
}



@media only screen and (max-width: 1005px) {
    .conteiner {
        width: 100%;
    }
}