body {
        background-image: url("../images/all.jpg");
        background-size: cover;
        background-repeat: repeat;
        background-attachment: fixed;
    margin:0px;
}
.container {
    width: 100%;
}
.wrraper {
    width: 100%;
}
.first-wrraper {
    width: 100%;
    height: 70px;
}

$(document).ready(() => {
    $('.hide-button').on('click', () => {
      $('.first-image').hide()
    })
  });





.paragraph p {
    margin: 0px;
    font-size: 25px;
    font-family: sans-serif;
    text-align:center;
}
.paragraph-border {
    width: 45%;
    height: 1px;
    margin-top: 5px;
    background-color: gainsboro;
    margin: auto;
}
.second-wrraper {
    width: 100%;
    text-align:center;
    padding-top: 20px;
}
.text {
    font-size:large;
}
.edit {
   
}
.align {
  
}

