
body {
    font-family:verdana,sans-serif;
    background-image: url("../images/slika.jpg");
    background-size: cover; 
    background-attachment: fixed;
}


/* MAIN CONTENT SLIDESHOW */

/* Slideshow container */
.slideshow-container {
  width:64%;
  float:left;
  height:600px;
  margin-left:18%;
  margin-top:50px;
}
/* Hide the images by default */
.mySlides {
display: none;
height:100%;
}
.slide-show-imagecon {
 width:65%;
 height:100%;
 background-color:white;
 display:inline-block;
 border-right:1px solid #DCDCDC;
 text-align:center;
}
.slide-show-imagecon img {
height:100%;
}

/* Caption text */
.text {
  width:35%;
  height:100%;
  float:right;
}
.text div {
  width:100%;
  background-color:white;
  height:33.333%;
  text-align:center;
}
.cena-div p {
  font-size:24px;
  font-weight:bold;
}
.stara-cena {
  font-size:24px;
  text-decoration:line-through;
  color:gray;
}
.nasa-cena {
  font-size:24px;
  margin-left:20px;
  color:#5cb85c;
  text-decoration:none;
}
.active, .dot:hover {
background-color: #717171;
}
.w3-display-left {
margin-left:40%;
width:50px;
background-color:black;
outline:none;
border:none;
height:35px;
border-radius:4px;
color:#DCDCDC;
}
.w3-display-right {
  width:60px;
  height:35px;
  background-color:black;
outline:none;
border:none;
border-radius:4px;
color:#DCDCDC;
}
.w3-button:hover {
  width:80px;
  height:40px;
}
.store-logo {
  max-width:100%;
  max-height:100%;
}
.product-image {
  max-width:99%;
  max-height:100%;
}
.Dodaj-vo-lista-con p {
  font-size:20px; 
}
.Dodaj-vo-lista-con p span {
  font-weight:bold;
}
.btn-dodaj-lista {
  width:70%;
  margin:auto;
}
@media only screen and (max-width: 995px) {
   .mySlides {
     float:left;
     margin-bottom:200px;
   }
  
  .mySlides .slide-show-imagecon {
    width:100%;
    height:40%;
  }
  .mySlides .text {
    width:100%;
    height:60%;
  
  }
  .w3-button {
    position:relative;
    top:-200px;
  }
}

/*     MAIN CONTENT MAIN BOXES */

.main-page-main-content {
  float:left;
  width:64%;
  margin-left:18%;
  margin-top:100px;
  border-radius:30px;
}
.forms-con {
  width:100%;
  height:120px;
  text-align:center;
  background-color:#DCDCDC;
  border-radius:30px;
  margin-bottom:50px;
}
.forms-con div {
  height:100%;
  width:30%;
  display:inline-block;
  padding-top: 25px;
}
.forms-con div select {
  border:none;
  border-radius:4px;
  background-color:#5cb85c;
  color:white;
  height:25px;
}
.product-boxes-con {
  width:100%;
  background:#DCDCDC;
  border-radius:30px;
}
.product-box {
  background-color:white;
  margin:20px;
  width:29%;
  display:inline-block;
  border-radius:30px;
}
.product-box-img-con {
  width:65%;
  height:100%;
  display:inline-block;
  text-align:center;
  vertical-align:center;
}
.cena-div-maincon,.cena-div-maincon p, .cena-div-maincon span  {
  font-size:14px;
}
.Dodaj-vo-lista-maincon, .Dodaj-vo-lista-maincon p, .Dodaj-vo-lista-maincon span  {
  font-size:14px;
  padding-bottom: 5px;
}
.dodaj-button {
  height:30px;
  width:30px;
  padding:3px;
  color:#DCDCDC;
  background-color:#5cb85c;
  border:none;
  outline:none;
  margin-left:5px;
}
.dodaj-button:focus {
  background-color:green;
}
@media only screen and (max-width: 1250px) {
  .product-box {
    width:70%;
    margin-left:15%;
  }
  .product-box-img-con {
    width:100%;
    height:30%;
  }
  .product-box .text {
    width:100%;
    height:50%;
  }
  .product-box .text div {
    height:10%;
    width:100%;
   
  }
  .store-logo {
    max-width:80%;
  }
  .forms-con div select {
    width: 85px;
  }
}