
body {
    font-family:verdana,sans-serif;
    background-image: url("../images/hrana-4.jpg");
    background-size: cover;
    background-repeat:repeat;
    background-attachment: fixed;
}

.main {
    width:80%;
    margin:auto;
    background-color:#DCDCDC;
    padding:25px;
    border-radius:20px;
    margin-top:50px;
    text-align:center;
    font-size:18px;
}