    body {
        background-image: url("../img/dummy1.jpg");
        background-repeat:repeat;
        background-size:cover;
    }
.container {
    margin-top:60px;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 300;
    color: #666;
    background-color:#D3D3D3;
    border-radius:15px;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 400;
    padding:40px;
}
.oglas-description ul li {
    font-size:20px;
}
h1 {
    display:inline-block;
}
h4 {
 margin-top:50px;
}
.oglas-form {
    margin-top:50px;
}
form div {
    width:25%;
    display:inline-block;
}
.fa-angle-left {
    font-size:45px;
    float:right;
    color:#2D99CD;
 
}
input {
    display:block;
    margin:21px;
    width:300px;
}

#submit-button {
    width:250px;
    border-radius:5px;
    float:left;
    background-color:#2D99CD;
}
#submit-button:hover {
    color:#2D99CD;
    background:white;
    
}
