/*
    Theme Name: Shuffle
    Theme URL: https://bootstrapmade.com/bootstrap-3-one-page-template-free-shuffle/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
*/
/* ==== Google font ==== */
@import url('https: //fonts.googleapis.com/css?family=Roboto:400,300,700,900');
@import url('https://fonts.googleapis.com/css?family=Ek+Mukta:400,600,700');

body {
  width: 100%;
  height: 100%;
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 300;
  color: #666;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
}

html {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #111;
}

h1.h-xlight, h2.h-xlight, h3.h-xlight, h4.h-xlight, h5.h-xlight, h6.h-xlight {
  font-weight: 200;
}

h1.h-light, h2.h-light, h3.h-light, h4.h-light, h5.h-light, h6.h-light {
  font-weight: 300;
}

h1.h-bold, h2.h-bold, h3.h-bold, h4.h-bold, h5.h-bold, h6.h-bold {
  font-weight: 600;
}

h1.font-light, h2.font-light, h3.font-light, h4.font-light, h5.font-light, h6.font-light {
  color: #fff;
}

.big-heading {
  font-size: 48px;
  font-weight: 700;
}

p {
  margin: 0 0 20px;
  color: #444;
  font-family: unset;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6em;
}

p.lead {
  font-weight: 600;
}

.highlight-light {
  background-color: rgba(255, 255, 255, .5);
  padding: 20px;
  display: inline-block;
  color: #111;
}

.highlight-dark {
  background-color: rgba(0, 0, 0, .5);
  padding: 20px;
  display: inline-block;
  color: #fff;
}

.highlight-color {
  padding: 20px;
  display: inline-block;
}

a {
  color: #666;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 24px;
  line-height: 1.5em;
  font-weight: 300;
  color: #999;
}

blockquote.bg-light {
  background-color: rgba(255, 255, 255, .8);
  padding: 20px;
  color: #222;
}

blockquote.bg-dark {
  background-color: rgba(0, 0, 0, .8);
  padding: 20px;
}

blockquote strong {
  font-weight: 700;
}

.light {
  font-weight: 400;
}

/* --- logo --- */
.site-logo {
  padding-top: 10px;
}

.site-logo a.brand {
  color: #111;
  text-transform: uppercase;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

/* ------- Navigation ------------ */
#navigation {
  background: #fff;
  z-index: 9999;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  height:63px;

}

#navigation-sticky-wrapper {
  position: relative;
  z-index: 9999;
  height:63px;
}

.navbar {
  margin-bottom: 0;
  padding:0px;
}

.navbar-brand {
  font-weight: 700;
}

.navbar-brand:focus {
  outline: 0;
}

.nav.navbar-nav {
  background-color: rgba(255, 255, 255, .6);
}

.navbar-custom.top-nav-collapse .nav.navbar-nav {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-custom ul.nav li a {
  font-size: 16px;
  letter-spacing: 1px;
  color: #444;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-custom.top-nav-collapse ul.nav li a {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #fff;
}

.navbar-custom ul.nav ul.dropdown-menu {
  border-radius: 0;
  margin-top: 21px;
  border-top: none;
}

.navbar-custom ul.nav li a:hover ul.dropdown-menu {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.navbar-custom ul.nav ul.dropdown-menu li {
  border-bottom: 1px solid #f5f5f5;
}

.navbar-custom ul.nav ul.dropdown-menu li:last-child {
  border-bottom: none;
}

.navbar-custom ul.nav ul.dropdown-menu li a {
  padding: 10px 20px;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
  background: #fefefe;
}

.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
  color: #666;
}

.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
  outline: 0;
  background-color: rgba(255, 255, 255, .2);
<<<<<<< HEAD
<<<<<<< HEAD
  color: #2D99CD;
=======
>>>>>>> 7f371e0763f2dba44468a68dd4e17e105663e6b2
=======
  color: #428bca;
=======
  color: #2D99CD;
>>>>>>> 95f3222d574b4296aea55bd89eb6fce4dbbc64ea
>>>>>>> parent of 8f80170... fgrfg
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
  outline: 0;
  background-color: rgba(255, 255, 255, .2);
}

.navbar-toggle {
  padding: 4px 6px;
  font-size: 14px;
  color: #fff;
  margin-top: -2px;
}

.navbar-toggle:focus,
.navbar-toggle:active {
  outline: 0;
}

.in a {
  color: #666 !important;
}

.in a:hover {
<<<<<<< HEAD
<<<<<<< HEAD
  color: #2D99CD !important;
=======
  color: #428bca !important;
>>>>>>> 7f371e0763f2dba44468a68dd4e17e105663e6b2
=======
  color: #1bbca3 !important;
>>>>>>> parent of 8f80170... fgrfg
}

/* misc */
hr {
  margin-top: 10px;
}

hr.bold {
  border-top: 3px solid #eee;
}

.divider-header {
  display: block;
  width: 40px;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.divider-short {
  display: block;
  width: 60px;
  height: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* margins */
.marginbot-0 {
  margin-bottom: 0 !important;
}

.marginbot-10 {
  margin-bottom: 10px !important;
}

.marginbot-20 {
  margin-bottom: 20px !important;
}

.marginbot-30 {
  margin-bottom: 30px !important;
}

.marginbot-40 {
  margin-bottom: 40px !important;
}

.marginbot-50 {
  margin-bottom: 50px !important;
}

.marginbot-60 {
  margin-bottom: 60px !important;
}

.marginbot-70 {
  margin-bottom: 70px !important;
}

.marginbot-80 {
  margin-bottom: 80px !important;
}

.marginbot-90 {
  margin-bottom: 90px !important;
}

.marginbot-100 {
  margin-bottom: 100px !important;
}

.margintop-0 {
  margin-top: 0 !important;
}

.margintop-10 {
  margin-top: 10px !important;
}

.margintop-20 {
  margin-top: 20px !important;
}

.margintop-30 {
  margin-top: 30px !important;
}

.margintop-40 {
  margin-top: 40px !important;
}

.margintop-45 {
  margin-top: 45px !important;
}

.margintop-50 {
  margin-top: 50px !important;
}

/* ===========================
--- General sections
============================ */
.home-section {
  padding-top: 150px;
  padding-bottom: 110px;
  display: block;
  position: relative;
  z-index: 120;
}

.inner-section {
  padding-top: 110px;
  padding-bottom: 110px;
}

.home-section.nopadd-bot {
  padding-bottom: 0;
}

.section-heading h2 {
  font-size: 48px;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section-heading p {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6em;
}

.color-dark .section-heading h2 {
  color: #111;
}

.color-dark .section-heading p {
  color: #444;
}

.color-dark .divider-short {
  background: #666;
}

.color-dark .divider-header {
  background: #666;
}

.color-light .divider-short {
  background: #666;
}

.color-light .divider-header {
  background: #666;
}

.color-light .section-heading h2 {
  color: #fff;
}

.color-light .section-heading p {
  color: #fefefe;
}

.color-light blockquote, .color-light p {
  color: #fefefe;
}

/* --- section bg var --- */
.bg-white {
  background: #fff;
}

.bg-gray {
  background: #f9f9f9;
}

.bg-dark {
  background: #404040;
}

/* --- section color var --- */
.text-light {
  color: #fff;
}

/* ===========================
--- Intro
============================ */
.intro {
  width: 100%;
  position: relative;
  padding: 0;
}

.intro-inner {
  width: 100%;
  position: relative;
  padding: 120px 0 20px;
}

.brand-heading {
  font-size: 40px;
}

.intro-text {
  font-size: 18px;
}

/* ====  slider ==== */
/* Header */
section#intro {
  padding: 0;
  width: 100%;
  background: #333;
}

/* Carousel Styles */
.carousel-inner img {
  width: 100%;
  max-height: 650px;
}

.carousel-control {
  width: 0;
}

.carousel-control.left,
.carousel-control.right {
  opacity: 1;
  filter: alpha(opacity=100);
  background-image: none;
  background-repeat: no-repeat;
  text-shadow: none;
}

.carousel-control.left span {
  padding: 0;
}

.carousel-control.right span {
  padding: 0;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  position: absolute;
  top: 45%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  left: 30px;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
  right: 30px;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
  opacity: .7;
  filter: alpha(opacity=70);
<<<<<<< HEAD
<<<<<<< HEAD
  color:#2D99CD;
=======
  color:#428bca;
>>>>>>> 7f371e0763f2dba44468a68dd4e17e105663e6b2
=======
>>>>>>> parent of 8f80170... fgrfg
}

.carousel-inner > .item {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
  height: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: 0;
  padding-left: 0;
}

/* Carousel Header Styles */
.header-text {
  position: absolute;
  top: 13%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #fff;
}

.header-text h2 {
  font-size: 40px;
}

.header-text h2 span {
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
}

.header-text h3 span {
  color: #fff;
}

.btn-min-block {
  min-width: 170px;
  line-height: 26px;
}

.btn-theme {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  margin-right: 15px;
}

.btn-theme:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

/* ===========================
--- About
============================ */
/* ===========================
--- Services
============================ */
.service-box {
  background: #fff;
  border: 1px solid #f7f7f7;
  padding: 20px;
}

.service-icon {
  margin-bottom: 20px;
}

/* ===========================
--- Works
============================ */
<<<<<<< HEAD
<<<<<<< HEAD



=======
#owl-works {}
>>>>>>> parent of 8f80170... fgrfg

=======
>>>>>>> 7f371e0763f2dba44468a68dd4e17e105663e6b2
.item {
  margin: 10px;
}

.item img {
  display: block;
  width: 100%;
  height: auto;
}

/* ===========================
--- Contact
============================ */
.form-group {
  margin-bottom: 20px;
}

form#contact-form .form-group label {
  text-align: left !important;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
}

form#contact-form input, form#contact-form select, form#contact-form textarea {
  font-size: 18px;
  line-height: 1.6em;
  border: 1px solid #eee;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
}
.apply{
  margin-left:20px
}
.btn-lg,
.btn-group-lg > .btn {
  border-radius: 2px;
}
.appFormWidth{
  width:50%;
}
form#contact-form input:focus, form#contact-form select:focus, form#contact-form textarea:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.input-group-addon {
  background-color: #fefefe;
  border: 1px solid #eee;
}

.widget-contact {
  text-align: left;
}

.validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#sendmessage {
  color: green;
  border: 1px solid green;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#sendmessage.show, #errormessage.show, .show {
  display: block;
}

/* ===========================
--- Bottom
============================ */
.boxcol-25 {
  width: 100%;
}

.box-social {
  list-style: none;
}

.box-social li {
  width: 25%;
  float: left;
}

.box-social .social-facebook a {
  display: block;
  background: #3873ae;
}

/* ==== Sidebar ==== */
.sidebar .widget h5 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.sidebar .widget {
  margin-bottom: 50px;
}

.widget ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.sidebar .widget ul li {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 10px;
}

.sidebar .widget ul li a {
  color: #666;
}

.widget.widget_categories ul li:before {
  display: inline-block;
  font-family: 'Pe-icon-7-stroke';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e684";
  margin-right: 10px;
}

.widget.widget_recent_post ul li figure {
  float: left;
  margin: 0 20px 0 0;
}

.widget.widget_recent_post ul li {
  margin-bottom: 25px;
}

.widget.widget_recent_post ul li:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.widget.widget_recent_post ul li h6 {
  margin-bottom: 10px;
}

.widget.widget_recent_post ul li span {
  font-size: 14px;
}
.btn-default {
  background-color: #428bca;
  border-radius:4px;
  border-color:none;
}
.btn-default:hover {
  color:#428bca !important;
  background-color:white !important;
  border-color:#428bca !important;
}
.btn-default:focus {
  color:#428bca !important;
  background-color:white !important;
  border-color:#428bca !important;
}
.btn-default:active {
  color:#428bca !important;
  background-color:white !important;
  border-color:#428bca !important;
}
.widget .tagcloud a {
  padding: 4px 10px;
  color: #fff;
  display: inline-block;
  margin: 0 10px 10px 0;
  font-size: 14px;
  border-radius: 2px;
}

.widget .tagcloud a:hover {
  color: #fff;
  background: #333;
}

/* --- widget --- */
form.search-form input {
  font-size: 18px;
  line-height: 1.6em;
  border: 1px solid #eee;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
}

form.search-form input:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

/* ===========================
--- Footer
============================ */
footer {
  background-color: #404040;
  color: #fff;
}

footer {
  text-align: center;
  padding: 50px 0;
}

footer p {
  color: #f8f8f8;
  font-size: 14px;
}

footer a.totop {
  color: #fff;
  margin-bottom: 30px;
}

footer a.totop:focus {
  outline: 0;
}

/* menu */
ul.footer-menu {
  list-style: none;
}

ul.footer-menu li {
  float: left;
  margin: 0 0 0 10px;
}

ul.footer-menu li a {
  color: #fff;
  font-size: 16px;
  border-left: 1px solid #999;
  padding-left: 9px;
  line-height: 1.1em;
}

ul.footer-menu li:first-child a {
  border-left: none;
  padding-left: 0;
}

.social-widget {
  margin-top: 20px;
  margin-bottom: 30px;
}

.social-widget ul li a:hover {
  color: #fff;
}

footer .social-widget ul.team-social li a {
  margin: 0 5px;
}

/* === testimonial slide === */
.testimonialslide {
  margin-top: 0;
  padding-top: 0;
}

.testimonialslide ul li blockquote {
  color: #fff;
  border-left: none;
}

.testimonialslide ul li h4 {
  color: #fff;
  font-weight: 900;
}

.testimonialslide ul li h4 span {
  color: #fff;
  font-weight: 400;
}
.service-full-box {
  margin-bottom: 50px;
 
}
/* --- button --- */
.btn {
  border-radius: 2px;
  position: relative;
  display: inline-block;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 14px;
}

.btn.btn-noradius {
  border-radius: 0;
}

a.btn:focus {
  outline: 0;
}

.btn-red {
  color: #fff;
  background-color: #c83539;
  border-color: #c83539;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}

.btn-red:active {
  background-image: none;
}

.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}


.btn-huge {
  padding: 25px;
  font-size: 26px;
}

.banner-social-buttons {
  margin-top: 0;
}

/* --- progress --- */
.progress {
  height: 40px;
}

.progress-bar {
  font-size: 14px;
  line-height: 40px;
}
/*Dopolnitelni klasi*/
.servicesDropDown{
  display: none;
  position: absolute;
  min-width: 500px;
  left: -200px;
}
.services:hover .servicesDropDown{
  display: block;
}
.servicesDropDown li{
  display: inline-block;
  margin-left: 30px;
}
.servicesDropDown li a{
  font-size: 12px !important; 
} 


/* JOVAN CLASSES */

.careers-div {
 width:30%;
 border:3px solid #f7f7f7;
 display:inline-block;
 margin:10px;
 padding:10px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
<<<<<<< HEAD
/*error*/
.addError {
  border: 1px solid red;
}
/*Success Form*/
#successForm {
    display: none;
    padding: 80px 0;
<<<<<<< HEAD
    color: #2D99CD;
=======
    color: #428bca;
>>>>>>> 7f371e0763f2dba44468a68dd4e17e105663e6b2
    font-size: 20px;
    display: none;
}
.section-description {
  text-align: center;
  margin-bottom: 40px;
<<<<<<< HEAD
=======
  color:#428bca;
>>>>>>> 7f371e0763f2dba44468a68dd4e17e105663e6b2
}
=======




>>>>>>> parent of 8f80170... fgrfg
/* Media queries */

@media (max-width:1150px) {
  .careers-div { 
    width:40%;
  }
}
@media(min-width:768px) {
  .navbar {
    padding: 0px;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
    background-color: #000;
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }

  .intro {
    height: 100%;
    padding: 0;
  }

  .brand-heading {
    font-size: 100px;
  }

  .intro-text {
    font-size: 25px;
  }
<<<<<<< HEAD
<<<<<<< HEAD
    
=======
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 0px;
}
>>>>>>> 7f371e0763f2dba44468a68dd4e17e105663e6b2
=======

>>>>>>> parent of 8f80170... fgrfg
}

@media (max-width:768px) {
  #navigation {
    padding: 20px 0;
  }
  .careers-div { 
    width:90%;
  }
  .site-logo {
    margin: 0 0 0 30px;
    float: none;
  }

  .navbar-custom ul.nav li a {
    color: #eee;
  }

  .navbar-custom ul.nav ul.dropdown-menu li {
    border-bottom: 1px solid #aaa;
  }

  .navbar-header {
    margin-top: -40px;
    padding: 0;
  }

  .navbar-header button {
    background: #111;
  }

  .navbar-header button.navbar-toggle {
    padding: 4px 15px;
    font-size: 14px;
    color: #fff;
  }

  .navbar-custom .nav {
    background: #444;
  }

  .service-box {
    margin-bottom: 50px;
  
  }
 
  .team-wrap {
    margin-bottom: 30px;
  }

  form#contact-form {
    margin-bottom: 50px;
  }

  .xs-marginbot-20 {
    margin-bottom: 20px;
  }
  .servicesDropDown{
    display: none;
    position: relative;
    min-width: 400px;
    left: 0px;
  }
  .servicesDropDown li{
    display: inline-block
  }
  .appFormWidth{
    width:100%;
  }
}

@media (max-width:480px) {
  .navbar-custom .nav.navbar-nav {
    background-color: rgba(255, 255, 255, .4);
  }

  .navbar.navbar-custom.navbar-fixed-top {
    margin-bottom: 30px;
  }
  .servicesDropDown{
    min-width: 300px;
  }

}
