a:hover,
a:focus {
  color: #2D99CD;
}

a, .tp-caption a.btn:hover {
  color: #2D99CD;
}

.top-nav-collapse {
  background: #2D99CD;
}

.carousel-indicators .active {
  background-color: #2D99CD;
}

.header-text h2 span {
  background-color: #2D99CD;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
  color: #2D99CD;
  color: #2D99CD;
}

a, .tp-caption a.btn:hover {
  color: #2D99CD;
}

.top-nav-collapse {
  background: #2D99CD;
}

.carousel-indicators .active {
  background-color: #2D99CD;
}
.header-text h2 span {
  background-color: #2D99CD;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
  color: #2D99CD;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background-color: #2D99CD;
}

.widget-avatar .avatar:hover {
  border: 5px solid #2D99CD;
}

.bg-skin {
  background: #2D99CD;
}

.highlight-color {
  background-color: #2D99CD;
}
form#contact-form input:focus, form#contact-form select:focus, form#contact-form textarea:focus {
  border-color: #2D99CD;
}

form.search-form input:focus {
  border-color: #2D99CD;
}

/* footer */
ul.footer-menu li a:hover {
  color: #2D99CD;
}

footer a.totop:hover {
  color: #2D99CD;
}

.btn-skin {
  color: #fff;
  background-color: #2D99CD;
  border-color: #2D99CD;
}
